<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Admin Panel</title>

    <!-- Favicons -->
    <link href="~/Content/Admin/img/favicon.png" rel="icon">
    <link href="~/Content/Admin/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/Admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <link href="~/Content/Admin/css/style-responsive.css" rel="stylesheet">
   
</head>

<body>

    @if (TempData["Message"] != null && (string)TempData["Message"] != "No")
    {
        <script type="text/javascript">
                window.onload = function () {
                    Swal.fire(
                        '@TempData["State"]',
                        '@TempData["Message"]',
                        '@TempData["State"]')
                };
        </script>
    }

    <section id="container">
        <!-- **********************************************************************************************************************************************************
            TOP BAR CONTENT & NOTIFICATIONS
            *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/Home/Admin" class="logo"><b>Admin<span> Penal</span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                           </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/Home/Logout">Logout</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
            MAIN SIDEBAR MENU
            *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="#"><img src="~/Content/images.png" class="img-circle" width="80"></a></p>
                    <h5 class="centered">Admin</h5>
                    <li><a href="/Home/Admin"><i class="fa fa-home"></i><span>Admin Home</span></a></li>
                    <li><a href="/Adm_Categories"><i class="fa fa-arrow-right"></i><span>Manage Categories</span></a></li>
                    <li><a href="/Adm_Cities"><i class="fa fa-arrow-right"></i><span>Manage Cities</span></a></li>
                    <li><a href="/Adm_Electricians"><i class="fa fa-arrow-right"></i><span>Manage Electricians</span></a></li>
                    <li><a href="/Adm_Users"><i class="fa fa-arrow-right"></i><span>Manage Users</span></a></li>
                    <li><a href="/Adm_Bookings/"><i class="fa fa-arrow-right"></i><span>Booking Report</span></a></li>
                    <li><a href="/Users/Logout"><i class="fa fa-arrow-right"></i><span>Logout</span></a></li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
            MAIN CONTENT
            *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt">
                    <div class="col-lg-12">

                        @RenderBody()


                    </div>
                </div>
            </section>
            <!-- /wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Toy Land</strong>. All Rights Reserved
                </p>
                <div class="credits">

                    Created  by <a href="#">Imsha & Ansa</a>
                </div>
                <a href="blank.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->



    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/Admin/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Content/Admin/lib/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/Admin/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/Admin/lib/jquery.scrollTo.min.js"></script>
    <script src="~/Content/Admin/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="lib/common-scripts.js"></script>
    <!--script for this page-->

</body>

</html>
